/* check this is going to change when mobile*/
@media only screen and (min-width: 700px) {
  /*.navigation li:first-child { display: none;	}*/
	.navigation li { display: inline-block; margin-right: 1rem;}	
	.navigation li a {   color: #f8d804;}
 
nav ul.responsive {
  display: flex;
}

  nav ul {
    flex-direction: row;
    
    }

nav button{
  display: none;
}
  
  /* check .active has a class in main page*/
  .active {
    background-color: #5C5C5C;
    
    color: white;
  }
        
  /* check .icon has a class in main page*/
  nav .icon {
    display: none;
  }
  
/*   
  .header{
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif;
  } */
  
  /* header img, .headings {
      display: inline-block;
      vertical-align: middle;
      margin: 10px;
     
  } */
  
  
 
 
 

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /*Temple page*/
  .container {margin: 0px; display:grid; grid-template-columns: 1fr 1fr; max-width: 1048px;}

img { width: 90%; padding: .5rem;}
figcaption {font-size: smaller;}
/* hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}
/* rounded corners - boxmodel */
.rocorn {border-radius: 5px 150px;}
/* simple opacity */
.opac {opacity: .5;}
.blur {filter: blur(1px) grayscale(75%);}
.object {width: 100%; height: 100px ; object-fit: cover;}
.shape-outside {border-radius: 100px; width:35%; margin: 0 3em .5em 0; float:left; }

.container section img {
  width: 90%
 

}

/*I thought this did the shadow hover, then it didnt work...after it had worked...???*/
.container section img :hover {
  box-shadow: 5px 5px blue;

}
  
/* end temple page*/

/*home page grid layout*/

#feature, .article {
  background-color: #efefef;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
  /* height: fit-content; */
  display: inline-block;
  width: 33%;
  
}

aside img {
  width: 90%;
 
  
}
  
 section img {
    width: 50%;
    height: auto;
  }

}